<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.0.min.js"></script>
    <script src="Main.js"></script>
</head>
<body>
    <br /><br />
    <div class="container">
        <form class="row g-3">
            
            <div id="showHideDiv">
                <div class="col-md-6" style="display:none;">
                    <label for="txtFirstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="txtFirstName" required />
                </div>
                <div class="col-md-6" style="display:none;">
                    <label for="txtLastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="txtLastName" required />
                </div>
                <div class="col-md-6" style="display:none;">
                    <label for="txtGender" class="form-label">Gender</label>
                    <input type="text" class="form-control" id="txtGender" required />
                </div>
                <div class="col-md-6" style="display:none;">
                    <label for="txtCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="txtCity" required />
                </div>
                <div class="col-md-6" style="display:none;">
                    <label for="txtIsActive" class="form-label">Is Active</label>
                    <input type="text" class="form-control" id="txtIsActive" required />
                </div>
                <div class="col-md-6" id="usernameid">
                    <label for="username" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="username" required />
                </div>
                <div class="col-md-6" id="passwordid">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" class="form-control" id="password" required />
                </div>
                <div class="col-12" id="login" style="padding-top:5px;">
                    <button type="button" class="btn btn-primary" id="btnLogin" onclick="Login()">Login</button>
                </div>
                <div class="col-md-6" id="divId" style="display:none;">
                    <label for="txtid" class="form-label">Id</label>
                    <input type="text" class="form-control" id="txtid" required />
                </div>
                <div class="col-12">
                    <div class="col-3" id="btnRandom" style="display: none; padding-top: 5px; float: left;">
                        <button type="button" class="btn btn-primary" id="btnRandom" onclick="randomUser()">Rendom User</button>
                    </div>
                    <div class="col-3" id="btnAllUser" style="display: none; padding-top: 5px; float: left;">
                        <button type="button" class="btn btn-primary" id="btnAllUser" onclick="GetAllUser()">All User</button>
                    </div>
                </div>
               
            </div>
            
        </form>
        <br />
        <table class="table table-bordered table-striped table-resposive" id="tblShowHide" style="display:none;">

            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th>Is Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tblEmpBody">

            </tbody>
        </table>
    </div>
    
</body>
</html>